body {
  background: #ffffff;
  font-family: 'M PLUS 1p', sans-serif;
  color: #FCFCFC;
  font-size: 27px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width: 1146px;
  margin: 0 auto;
}

.header {
  color: #30233D;
}

.title {
  font-weight: 800;
  font-size: 13px;
  letter-spacing: 6px;
  text-transform: uppercase;
  color: #F61067;
  padding: 180px 0 12px;
}

.text {
  width: 754px;
  font-weight: 500;
  line-height: 40px;
}

.wrappers {
  padding: 60px 0 183px;
  display: flex;
}

.wrappers_wrapper {
  border: 1px solid rgba(246, 16, 103, 0.5);
  margin-right: 30px;
  padding: 54px 36px 58px;
  list-style: none;
  cursor: pointer;
}

.wrappers_wrapper::before {
  content: "";
  width: 72px;
  height: 72px;
  display: block;
  background: url(../img/ic-atom-pink.svg) 50% no-repeat;
  border: 1px solid rgba(246, 16, 103, 0.5);
  border-radius: 50%;
}

.wrappers_wrapper:last-child {
  margin-right: 0;
}

.wrappers_wrapper_title {
  font-weight: 500;
  padding-top: 18px;
}

.wrappers_wrapper_text {
  font-size: 16px;
  line-height: 26px;
  padding-top: 13px;
}

.content {
  background: #5E239D;
}

.content .wrappers {
  padding: 111px 0 181px;
}

.content .wrappers_wrapper {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 57px 36px 61px;
}

.content .wrappers_wrapper:hover {
  background: #F61067;
}

.content .wrappers_wrapper::before {
  content: "";
  width: 58px;
  height: 62px;
  display: block;
  background: url(../img/ic-atom.svg) 50% no-repeat;
  border: none;
}

.promo {
  background: #30124E;
}

.promo .title {
  padding: 252px 0 12px;
}

.promo .wrappers {
  padding: 60px 0 306px;
  counter-reset: myCounter;
}

.promo .wrappers_wrapper {
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 72px 36px 74px;
}

.promo .wrappers_wrapper:hover {
  background: #F61067;
}

.promo .wrappers_wrapper::before {
  counter-increment: myCounter;
  content: "0" counter(myCounter);
  color: #F61067;
  background: none;
  border: none;
}

.promo .wrappers_wrapper:hover::before {
  color: #FCFCFC;
}

footer {
  background: #150433
}

footer .container {
  display: flex;
}

footer a {
  font-size: 13px;
  font-weight: 700;
}

.footer_wrapper {
  padding: 123px 0 124px;
}

.footer_wrapper:last-child {
  padding-top: 126px;
}

.footer_title {
  font-weight: 900;
  font-size: 24px;
}

.footer_text {
  width: 166px;
  font-size: 16.2px;
  line-height: 26px;
  padding-top: 17px;
}

.footer_wrapper:last-child {
  display: flex;
  flex-direction: column;
  padding-left: 128px;
}

.footer_wrapper_items {
  display: flex;
}

.footer_wrapper_items:last-child {
  font-size: 12px;
  margin-top: 64px;
}

.footer_wrapper_items_item_title {
  font-weight: 800;
  font-size: 12.6px;
  letter-spacing: 6px;
  text-transform: uppercase;
  border-bottom: 1px solid #F61067;
  padding-bottom: 13px;
  margin-bottom: 31px;
}

.first {
  margin: 44px 0 0 0;
  display: block;
}

.footer_wrapper_items_item:nth-child(2) {
  margin: 0 86px 0 36px;
}

.footer_wrapper_items_item:nth-child(4) {
  margin-left: 150px;
}

.footer_wrapper_items_item_link {
  display: block;
  margin-bottom: 18px;
}

.mail {
  width: 12px;
  height: 9px;
  padding-left: 30px;
  font-weight: 400;
  background: url(../img/ic-mail.svg) 0 50% no-repeat;
}

.phone {
  width: 130px;
  height: 14px;
  font-weight: 400;
  padding-left: 30px;
  margin-top: 24px;
  display: flex;
  background: url(../img/ic-phone.svg) 0 50% no-repeat;
}

.footer_wrapper_items_item_social {
  display: flex;
  align-items: center;
  margin-top: 44px;
}

.twitter {
  width: 18px;
  height: 15px;
  display: block;
  background: url(../img/ic-twitter.svg) 0 no-repeat;
}

.facebook {
  width: 18px;
  height: 18px;
  display: block;
  margin: 0 40px 0 43px;
  background: url(../img/ic-facebook.svg) 50% no-repeat;
}

.instagram {
  width: 18px;
  height: 18px;
  display: block;
  background: url(../img/ic-instagram.svg) 0 no-repeat;
}

.youtube {
  width: 26px;
  height: 18px;
  display: block;
  margin: 0 43px 0 42px;
  background: url(../img/ic-youtube.svg) 0 no-repeat;
}

.social_m {
  width: 18px;
  height: 15px;
  display: block;
  background: url(../img/ic-m.svg) 0 no-repeat;
}